## You have been hired by a rookie movie producer to help him decide what type of movies to produce and which actors to cast. You have to back your recommendations based on thorough analysis of the data he shared with you which has the list of 3000 movies and the corresponding details.

## As a data scientist, you have to first explore the data and check its sanity.

## Further, you have to answer the following questions:
1. ### <b> Which movie made the highest profit? Who were its producer and director? Identify the actors in that film.</b>
2. ### <b>This data has information about movies made in different languages. Which language has the highest average ROI (return on investment)? </b>
3. ### <b> Find out the unique genres of movies in this dataset.</b>
4. ### <b> Make a table of all the producers and directors of each movie. Find the top 3 producers who have produced movies with the highest average RoI? </b>
5. ### <b> Which actor has acted in the most number of movies? Deep dive into the movies, genres and profits corresponding to this actor. </b>
6. ### <b>Top 3 directors prefer which actors the most? </b>

In [63]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Data Exploration

In [64]:
#Import package
import pandas as pd
import numpy as np

In [65]:
imdb_df = pd.read_csv('/content/drive/MyDrive/AlmaBetter/Module_1/14.Data Wrangling/Data/Copy of imdb_data.csv')
imdb_df.head(3)

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000

In [66]:
imdb_df.columns

Index(['id', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'runtime', 'spoken_languages',
       'status', 'tagline', 'title', 'Keywords', 'cast', 'crew', 'revenue'],
      dtype='object')

### 1. We only requre few columns so first considering those columns we required to solve above question

In [67]:
imdb_df = imdb_df.loc[:,['budget',	'genres', 'original_language'	, 'cast', 'crew', 'revenue', 'original_title']]
imdb_df.head(2)

,budget,genres,original_language,cast,crew,revenue,original_title
0,14000000,"[{'id': 35, 'name': 'Comedy'}]",en,"[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,Hot Tub Time Machine 2
1,40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",en,"[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,The Princess Diaries 2: Royal Engagement

###2. Remove the element from columns whose value are null

In [68]:
# imdb_df[~imdb_df['genres'].isna()]    # same as below
# imdb_df.loc[~imdb_df['genres'].isna()]  # same as above
imdb_df.loc[~imdb_df['genres'].isna(),'genres'] 
# imdb_df.loc[~imdb_df['genres','cast'].isna(),['genres','cast']]   # throw error as   if is_scalar(key) and isna(key) and not self.hasnans

0                          [{'id': 35, 'name': 'Comedy'}]
1       [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
2                           [{'id': 18, 'name': 'Drama'}]
3       [{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...
4       [{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...
                              ...
2995    [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
2996    [{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...
2997    [{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...
2998    [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
2999    [{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...
Name: genres, Length: 2993, dtype: object

### 3.Convert those string present in a columns into list
#### While storing data as a list into a csv file such as dictionary or any type then we can only store in csv by converting those value in string so that is why these value are in string format

In [69]:
type(imdb_df.loc[0,'crew'])

str

In [70]:
def convert_into_list(string):
  return eval(string)

In [71]:
# Applying above function only into a non null column such as genres
imdb_df.loc[~imdb_df['genres'].isna(),'genres'] = imdb_df.loc[~imdb_df['genres'].isna(),'genres'].apply(convert_into_list)

In [72]:
# Applying above function only into a non null column such as cast
imdb_df.loc[~imdb_df['cast'].isna(),'cast'] = imdb_df.loc[~imdb_df['cast'].isna(),'cast'].apply(convert_into_list)

In [73]:
# Applying above function only into a non null column such as crew
imdb_df.loc[~imdb_df['crew'].isna(),'crew'] = imdb_df.loc[~imdb_df['crew'].isna(),'crew'].apply(convert_into_list)

In [74]:
# Now check type of columns
type(imdb_df.loc[0,'crew'])

list

In [75]:
imdb_df.head(2)

,budget,genres,original_language,cast,crew,revenue,original_title
0,14000000,"[{'id': 35, 'name': 'Comedy'}]",en,"[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,Hot Tub Time Machine 2
1,40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",en,"[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,The Princess Diaries 2: Royal Engagement

In [76]:
# Creating the duplicate of above dataframe
imdb_df_new = imdb_df.copy()

In [77]:
imdb_df_new.head(2)

,budget,genres,original_language,cast,crew,revenue,original_title
0,14000000,"[{'id': 35, 'name': 'Comedy'}]",en,"[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,Hot Tub Time Machine 2
1,40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",en,"[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,The Princess Diaries 2: Royal Engagement

## Q.1 Which movie made the highest profit? Who were its producer and director? Identify the actors in that film.

##### Checking sanity for the given column such as (outlier, vague value etc) for checking outlier we can conclude by watching not very difference between median and mean by seeing in decribe() here median is 50%

In [78]:
imdb_df_new.describe()
# the value of budget can't be 0 so wew have to replace that row or we have to replace the na value with median or mean

             budget       revenue
count  3.000000e+03  3.000000e+03
mean   2.253133e+07  6.672585e+07
std    3.702609e+07  1.375323e+08
min    0.000000e+00  1.000000e+00
25%    0.000000e+00  2.379808e+06
50%    8.000000e+06  1.680707e+07
75%    2.900000e+07  6.891920e+07
max    3.800000e+08  1.519558e+09

In [79]:
imdb_df_new[imdb_df_new['budget'] == 0].head(3)

,budget,genres,original_language,cast,crew,revenue,original_title
4,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",ko,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,마린보이
7,0,"[{'id': 99, 'name': 'Documentary'}]",en,"[{'cast_id': 2, 'character': 'Himself', 'credi...","[{'credit_id': '52fe47a69251416c750a0daf', 'de...",2586511,Control Room
8,0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",en,"[{'cast_id': 1, 'character': 'Long John Silver...","[{'credit_id': '52fe43c89251416c7501deb3', 'de...",34327391,Muppet Treasure Island

###4. Replacing those value whose values are extremly low in column budget and revenue with median of corresponding columns

In [80]:
imdb_df_new['budget'].median() # that median value is escatly same as above 50% of describe() fuction

8000000.0

In [81]:
imdb_df_new.loc[imdb_df_new['budget']< 1000, 'budget']  = imdb_df_new['budget'].median()
imdb_df_new.loc[imdb_df_new['revenue']< 1000, 'revenue']  = imdb_df_new['revenue'].median()

In [82]:
imdb_df_new.describe()

             budget       revenue
count  3.000000e+03  3.000000e+03
mean   2.474467e+07  6.704518e+07
std    3.583254e+07  1.373964e+08
min    2.500000e+03  1.404000e+03
25%    8.000000e+06  2.947600e+06
50%    8.000000e+06  1.680873e+07
75%    2.900000e+07  6.891920e+07
max    3.800000e+08  1.519558e+09

### 5. Now we have to create a column which contain the profit and ROI 
### So first creating the profit columns and ROI column

In [83]:
imdb_df_new['profit'] = imdb_df_new['revenue'] - imdb_df_new['budget'] 
# imdb_df_new.head(2)

### b. Now create the ROI column which is calculated as the percentage of profit out off total budget

In [84]:
imdb_df_new['ROI'] = imdb_df_new['profit'] / imdb_df_new['budget'] * 100
imdb_df_new.head(2)

,budget,genres,original_language,cast,crew,revenue,original_title,profit,ROI
0,14000000,"[{'id': 35, 'name': 'Comedy'}]",en,"[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,Hot Tub Time Machine 2,-1685349,-12.038207
1,40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",en,"[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,The Princess Diaries 2: Royal Engagement,55149435,137.873588

In [85]:
#  Which movie made the highest profit?
max_profit = imdb_df_new['profit'].max()

In [86]:
# Find the index or row  which have the maximum profit using idmax()
# idmax() ---> return the row number(index) for the maximum value of the column
index_max_prof_movie = imdb_df_new['profit'].idxmax()

In [87]:
#  Movie which make the highest profit
imdb_df_new.loc[imdb_df_new['profit'].idxmax(), 'original_title' ]
                 
                  # OR

# imdb_df_new[imdb_df_new['profit'] == max_profit]['original_title']

'Furious 7'

In [88]:
max_profit_movie_df = imdb_df_new.iloc[index_max_prof_movie ]
max_profit_movie_df.head()

budget                                                       190000000
genres                                  [{'id': 28, 'name': 'Action'}]
original_language                                                   en
cast                 [{'cast_id': 17, 'character': 'Dominic Toretto...
crew                 [{'credit_id': '52fe4cc8c3a36847f823e681', 'de...
Name: 1761, dtype: object

In [89]:
max_profit_movie_df.loc['cast'][0]['name']

'Vin Diesel'

In [90]:
crew_list = max_profit_movie_df.loc['crew']
crew_list[:3]

[{'credit_id': '52fe4cc8c3a36847f823e681',
  'department': 'Production',
  'gender': 2,
  'id': 12835,
  'job': 'Producer',
  'name': 'Vin Diesel',
  'profile_path': '/7rwSXluNWZAluYMOEWBxkPmckES.jpg'},
 {'credit_id': '52fe4cc8c3a36847f823e687',
  'department': 'Production',
  'gender': 2,
  'id': 11874,
  'job': 'Producer',
  'name': 'Neal H. Moritz',
  'profile_path': '/cNcsEYmoS4niCz3UkVAA09dUIob.jpg'},
 {'credit_id': '52fe4cc8c3a36847f823e68d',
  'department': 'Writing',
  'gender': 2,
  'id': 58191,
  'job': 'Writer',
  'name': 'Chris Morgan',
  'profile_path': '/dUGxIwFBLrSFLImxjeda1krndMO.jpg'}]

In [91]:
# Name of the directore and producer of the movie which made highest profit 
director_list = []
producer_list = []
for crew in crew_list:
  if crew['job'] == 'Director':
    director_list.append(crew['name'])
  if crew['job'] == 'Producer':
    producer_list.append(crew['name'])

In [92]:
print(f"director list are {director_list}")
print(f"producer list are {producer_list}")

director list are ['James Wan']
producer list are ['Vin Diesel', 'Neal H. Moritz', 'Michael Fottrell', 'Brandon Birtell']

In [93]:
# Name of the actors of the movie which made the highest profit
cast_list = max_profit_movie_df['cast']
cast_list[:3]

[{'cast_id': 17,
  'character': 'Dominic Toretto',
  'credit_id': '5431dfd10e0a265915002c34',
  'gender': 2,
  'id': 12835,
  'name': 'Vin Diesel',
  'order': 0,
  'profile_path': '/7rwSXluNWZAluYMOEWBxkPmckES.jpg'},
 {'cast_id': 19,
  'character': "Brian O'Conner",
  'credit_id': '5431dfe4c3a3681143002b98',
  'gender': 2,
  'id': 8167,
  'name': 'Paul Walker',
  'order': 1,
  'profile_path': '/iqvYezRoEY5k8wnlfHriHQfl5dX.jpg'},
 {'cast_id': 18,
  'character': 'Hobbs',
  'credit_id': '5431dfdbc3a36831a6004376',
  'gender': 2,
  'id': 18918,
  'name': 'Dwayne Johnson',
  'order': 2,
  'profile_path': '/kuqFzlYMc2IrsOyPznMd1FroeGq.jpg'}]

In [94]:
actor_list = []
for cast in cast_list:
  actor_list.append(cast['name'])
print(f"Actor list are {actor_list}")

Actor list are ['Vin Diesel', 'Paul Walker', 'Dwayne Johnson', 'Michelle Rodriguez', 'Tyrese Gibson', 'Ludacris', 'Jordana Brewster', 'Djimon Hounsou', 'Tony Jaa', 'Ronda Rousey', 'Nathalie Emmanuel', 'Kurt Russell', 'Jason Statham', 'Sung Kang', 'Gal Gadot', 'Lucas Black', 'Elsa Pataky', 'Noel Gugliemi', 'John Brotherton', 'Luke Evans', 'Ali Fazal', 'Miller Kimsey', 'Charlie Kimsey', 'Eden Estrella', 'Gentry White', 'Iggy Azalea', 'Jon Lee Brody', 'Levy Tran', 'Anna Colwell', 'Viktor Hernandez', 'Steve Coulter', 'Robert Pralgo', 'Antwan Mills', 'J.J. Phillips', 'Jorge Ferragut', 'Sara Sohn', 'Benjamin Blankenship', 'D.J. Hapa', 'T-Pain', 'Brian Mahoney', 'Brittney Alger', 'Romeo Santos', 'Jocelin Donahue', 'Stephanie Langston', 'Jorge-Luis Pallo', 'Tego Calder√≥n', 'Nathalie Kelley', 'Shad Moss', 'Don Omar', 'Klement Tinaj', 'Caleb Walker', 'Cody Walker']

## Q2. This data has information about movies made in different languages. Which language has the highest average ROI (return on investment)?

In [95]:

# using groupby fuction on movie langyage and ROI and finding mean
imdb_df_new.groupby('original_language')['ROI'].mean().reset_index().sort_values(by = 'ROI', ascending = False).head(2)

   original_language           ROI
18                ko  11309.685605
6                 el   5198.013245

In [96]:
print("language with the highest average ROI: ")
imdb_df_new.groupby('original_language')['ROI'].mean().reset_index().sort_values(by = 'ROI', ascending = False).iloc[0,0]

language with the highest average ROI:

'ko'

##Q3. Find out the unique genres of movies in this dataset.

In [97]:
imdb_df_new['genres'].isnull().sum()

7

In [98]:
# Now consider genres whose value are not null
no_na_genres = imdb_df_new[~imdb_df_new['genres'].isna()]

In [99]:
len(no_na_genres)

2993

In [100]:
no_na_genres.loc[50,'genres']

[{'id': 10749, 'name': 'Romance'},
 {'id': 18, 'name': 'Drama'},
 {'id': 35, 'name': 'Comedy'}]

In [101]:
# create the list of genres and using iterrow() method to iterate over genres column 
# iterrow----> same as enumrate() it is compulsory to use it in Dataframe
gen_list = []
for index, row in no_na_genres.iterrows():
  genre = no_na_genres.loc[index,'genres']
  for k in genre:
    gen_list.append(k['name'])
# unique list of genres are 
pd.DataFrame(set(gen_list), columns = ['Unique genres'])

      Unique genres
0             Crime
1          TV Movie
2           Fantasy
3           History
4             Music
5           Western
6           Mystery
7            Horror
8            Comedy
9         Animation
10            Drama
11  Science Fiction
12          Foreign
13      Documentary
14           Action
15           Family
16        Adventure
17          Romance
18              War
19         Thriller

##Q4. Make a table of all the producers and directors of each movie. Find the top 3 producers who have produced movies with the highest average RoI?

In [102]:
# Considering only those row in crew column which have no null values
no_na_crew = imdb_df_new[~imdb_df_new['crew'].isna()]

In [103]:
no_na_crew.shape

(2984, 9)

In [104]:
# A simple function to extract list of all producer for a given movie index
def create_movie_index(index):
  movie_index = no_na_crew.iloc[index]
  crew_list = movie_index.loc['crew']
  Prodeucer_list = []
  for elem in crew_list:
    if elem['job'] == 'Producer':
      Prodeucer_list.append(elem['name'])
  return Prodeucer_list

In [105]:
create_movie_index(2)

['David Lancaster', 'Michel Litvak', 'Jason Blum', 'Helen Estabrook']

In [106]:
# A simple function to extract list of all director for a given movie index
def create_director_index(index):
  dirextor_index = no_na_crew.iloc[index]
  crew_list = dirextor_index.loc['crew']
  Director_list = []
  for elem in crew_list:
    if elem['job'] == 'Director':
      Director_list.append(elem['name'])
  return Director_list

In [107]:
create_director_index(61)

['Carol Reed']

In [108]:
# Create a empty dataframe with required column name in which we wil append data later 
Table = pd.DataFrame(columns = ['Movie Title', 'Producer','Director','ROI'])

In [109]:
Table

Empty DataFrame
Columns: [Movie Title, Producer, Director, ROI]
Index: []

### Appending in table df and using Try Ecept block to bypass error because some value of crew dictionary contain float as value

In [110]:
for index, row in no_na_crew.iterrows():
  try: 
    Table = Table.append({'Movie Title': no_na_crew.loc[index, 'original_title'], 'Producer': create_movie_index(index), 'Director': create_director_index(index), 'ROI':no_na_crew.loc[index, 'ROI'] },ignore_index = True)
  except:
    continue

In [111]:
Table.head(7)

,Movie Title,Producer,Director,ROI
0,Hot Tub Time Machine 2,[Andrew Panay],[Steve Pink],-12.038207
1,The Princess Diaries 2: Royal Engagement,"[Whitney Houston, Mario Iscovich, Debra Martin...",[Garry Marshall],137.873588
2,Whiplash,"[David Lancaster, Michel Litvak, Jason Blum, H...",[Damien Chazelle],296.727273
3,Kahaani,[Sujoy Ghosh],[Sujoy Ghosh],1233.333333
4,마린보이,[],[Jong-seok Yoon],-50.950375
5,Pinocchio and the Emperor of the Night,[],[Hal Sutherland],-59.229525
6,The Possession,[],[Ole Bornedal],510.329107

In [112]:
# Table.groupby('Producer')['ROI'].mean().reset_index().sort_values(by = 'ROI', ascending = True)

##Q5. Which actor has acted in the most number of movies? Deep dive into the movies, genres and profits corresponding to this actor.

In [113]:
# Considering only those row in cast column which have no null value
no_na_cast = imdb_df_new[~imdb_df_new['cast'].isna()]

In [114]:
no_na_cast.loc[0,'cast'][0]['name']

'Rob Corddry'

In [115]:
Actor_list = []
for index, row in no_na_cast.iterrows():
  for elem in no_na_cast.loc[index, 'cast']:
    if type(elem) == dict:
      Actor_list.append(elem['name'])

In [116]:
Actor_Table = pd.DataFrame(Actor_list, columns = ['Name of the actor'])

In [117]:
Actor_Table.head()

  Name of the actor
0       Rob Corddry
1    Craig Robinson
2        Clark Duke
3        Adam Scott
4       Chevy Chase

In [118]:
Actor_Table.value_counts().reset_index().rename(columns = {0: 'No of movies made'})

          Name of the actor  No of movies made
0         Samuel L. Jackson                 30
1            Robert De Niro                 30
2            Morgan Freeman                 27
3               Liam Neeson                 25
4            Susan Sarandon                 25
...                     ...                ...
38583      Jonathan Simpson                  1
38584      Jonathan Sawicki                  1
38585  Jonathan Salomonsson                  1
38586  Jonathan Safran Foer                  1
38587      Larry Mullen Jr.                  1

[38588 rows x 2 columns]

##Actor who have done maximum movie are Samuel L. Jackson and Robert De Niro

In [119]:
profit1 = []
profit2 = []
Movie1 = []
Movie2 = []
for index, row in no_na_cast.iterrows():
  for iter in no_na_cast.loc[index, 'cast']:
    if type(iter) == dict:
      actor = iter['name']
      if 'Robert De Niro' in actor:
        profit1.append(no_na_cast.loc[index,'profit'])
        Movie1.append(no_na_cast.loc[index,'original_title'])

      if 'Samuel L. Jackson' in actor:
        profit2.append(no_na_cast.loc[index,'profit'])
        Movie2.append(no_na_cast.loc[index,'original_title'])

In [120]:
# Creating a loop to get the genre, for Robert and Samuel
gener_r = []
a = []
for i in range(len(Movie1)):
  for g in no_na_cast.loc[i, 'genres']:
    a.append(g['name'])
  gener_r.append(a)
  a = []

gener_s = []
b = []
for i in range(len(Movie2)):
  for g in no_na_cast.loc[i, 'genres']:
    b.append(g['name'])
  gener_s.append(b)
  b = []

In [121]:
genr = np.array(gener_r)
gens = np.array(gener_s)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

In [123]:
# from pandas.core.common import flatten
# Creating a sub dataframe for Robert
mov1 = pd.DataFrame(Movie1,columns = ['Movie Name']) 
prof1 = pd.DataFrame(profit1,columns = ['Movie Profit']) 
gen1 = pd.DataFrame(genr.flatten(), columns = ['Genres'])

In [124]:
Movie_by_Robert = pd.concat([mov1,prof1,gen1], axis = 1)

## Movie by Robert De Niro

In [125]:
Movie_by_Robert.sort_values(by = 'Movie Profit', ascending = False).head()

          Movie Name  Movie Profit                                      Genres
8   Meet the Parents     275444045  [Action, Comedy, Music, Family, Adventure]
16   American Hustle     211171807                          [Horror, Thriller]
10          Sleepers     121615285                                     [Drama]
26      Analyze This      96885658           [Crime, Drama, Mystery, Thriller]
29         Backdraft      77368585        [Action, Adventure, Crime, Thriller]

In [126]:
# Creating a sub dataframe for Samuel
mov2 = pd.DataFrame(Movie2,columns = ['Movie Name']) 
prof2 = pd.DataFrame(profit2,columns = ['Movie Profit']) 
gen2 = pd.DataFrame(gens.flatten(), columns = ['Genres'])

In [127]:
Movie_by_Samuel = pd.concat([mov2,prof2,gen2], axis = 1)

## Movie by Samuel L jackson

In [128]:
Movie_by_Samuel.sort_values(by = 'Movie Profit', ascending = False).head()

,Movie Name,Movie Profit,Genres
5,The Avengers,1299557910,"[Animation, Adventure, Family]"
24,Avengers: Age of Ultron,1125403694,"[Horror, Comedy]"
11,Jurassic Park,857100000,[Comedy]
3,Star Wars: Episode III - Revenge of the Sith,737000000,"[Thriller, Drama]"
15,Captain America: The Winter Soldier,544766572,"[Action, Crime, Drama]"