In [1]:
import pandas as pd
import numpy as np

In [31]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
df = pd.read_csv(r"C:\Users\Shubham\Music\Codebasics\Input Files\Input Files\dim_date.csv")
df.head()

        date  mmm yy week no  day_type
0  01-May-22  May 22    W 19   weekend
1  02-May-22  May 22    W 19  weekeday
2  03-May-22  May 22    W 19  weekeday
3  04-May-22  May 22    W 19  weekeday
4  05-May-22  May 22    W 19  weekeday

In [3]:
df.shape

(92, 4)

In [4]:
df2 = pd.read_csv(r"C:\Users\Shubham\Music\Codebasics\Input Files\Input Files\dim_hotels.csv")
df2.head()

   property_id  property_name  category    city
0        16558   Atliq Grands    Luxury   Delhi
1        16559  Atliq Exotica    Luxury  Mumbai
2        16560     Atliq City  Business   Delhi
3        16561      Atliq Blu    Luxury   Delhi
4        16562      Atliq Bay    Luxury   Delhi

In [5]:
df2.shape

(25, 4)

In [6]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   property_id    25 non-null     int64
 1   property_name  25 non-null     object
 2   category       25 non-null     object
 3   city           25 non-null     object
dtypes: int64(1), object(3)
memory usage: 928.0+ bytes

In [7]:
df3 = pd.read_csv(r"C:\Users\Shubham\Music\Codebasics\Input Files\Input Files\dim_rooms.csv")
df3.head()

  room_id    room_class
0     RT1      Standard
1     RT2         Elite
2     RT3       Premium
3     RT4  Presidential

In [8]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   room_id     4 non-null      object
 1   room_class  4 non-null      object
dtypes: object(2)
memory usage: 192.0+ bytes

In [9]:
df3.shape

(4, 2)

In [11]:
df4 = pd.read_csv(r"C:\Users\Shubham\Music\Codebasics\Input Files\Input Files\fact_aggregated_bookings.csv")
df4.head()

   property_id check_in_date room_category  successful_bookings  capacity
0        16559     01-May-22           RT1                   25        30
1        19562     01-May-22           RT1                   28        30
2        19563     01-May-22           RT1                   23        30
3        17558     01-May-22           RT1                   13        19
4        16558     01-May-22           RT1                   18        19

In [12]:
df4.shape

(9200, 5)

In [13]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9200 entries, 0 to 9199
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   property_id          9200 non-null   int64
 1   check_in_date        9200 non-null   object
 2   room_category        9200 non-null   object
 3   successful_bookings  9200 non-null   int64
 4   capacity             9200 non-null   int64
dtypes: int64(3), object(2)
memory usage: 359.5+ KB

In [14]:
df5 = pd.read_csv(r"/content/drive/MyDrive/CodeBasics/Hospitality Revenue/fact_bookings.csv")
df5.head()

FileNotFoundError: [Errno 2] No such file or directory: '/content/drive/MyDrive/CodeBasics/Hospitality Revenue/fact_bookings.csv'

In [44]:
df5.shape

(134590, 12)

In [45]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134590 entries, 0 to 134589
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   booking_id         134590 non-null  object
 1   property_id        134590 non-null  int64
 2   booking_date       134590 non-null  object
 3   check_in_date      134590 non-null  object
 4   checkout_date      134590 non-null  object
 5   no_guests          134590 non-null  int64
 6   room_category      134590 non-null  object
 7   booking_platform   134590 non-null  object
 8   ratings_given      56683 non-null   float64
 9   booking_status     134590 non-null  object
 10  revenue_generated  134590 non-null  int64
 11  revenue_realized   134590 non-null  int64
dtypes: float64(1), int64(4), object(7)
memory usage: 12.3+ MB

In [46]:
df_2_4 = pd.merge(df2,df4, on= 'property_id', how= 'inner')
df_2_4.head()

,property_id,property_name,category,city,check_in_date,room_category,successful_bookings,capacity
0,16558,Atliq Grands,Luxury,Delhi,01-May-22,RT1,18,19
1,16558,Atliq Grands,Luxury,Delhi,01-May-22,RT2,21,22
2,16558,Atliq Grands,Luxury,Delhi,01-May-22,RT3,8,8
3,16558,Atliq Grands,Luxury,Delhi,01-May-22,RT4,3,3
4,16558,Atliq Grands,Luxury,Delhi,02-May-22,RT1,12,19

In [47]:
df_2_4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9200 entries, 0 to 9199
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   property_id          9200 non-null   int64
 1   property_name        9200 non-null   object
 2   category             9200 non-null   object
 3   city                 9200 non-null   object
 4   check_in_date        9200 non-null   object
 5   room_category        9200 non-null   object
 6   successful_bookings  9200 non-null   int64
 7   capacity             9200 non-null   int64
dtypes: int64(3), object(5)
memory usage: 646.9+ KB

In [48]:
df_2_4.shape

(9200, 8)

In [49]:
# df_2_4_5 = pd.merge(df5,df_2_4, on= 'property_id', how= 'inner')
# df_2_4_5.head()

In [50]:
# df_2_4_5.info()

In [51]:
# df_2_4_5.shape

In [52]:
df_2_5 = pd.merge(df2,df5, on= 'property_id', how= 'inner')

In [53]:
df_2_5.shape

(134590, 15)

In [54]:
df_2_5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 134590 entries, 0 to 134589
Data columns (total 15 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   property_id        134590 non-null  int64
 1   property_name      134590 non-null  object
 2   category           134590 non-null  object
 3   city               134590 non-null  object
 4   booking_id         134590 non-null  object
 5   booking_date       134590 non-null  object
 6   check_in_date      134590 non-null  object
 7   checkout_date      134590 non-null  object
 8   no_guests          134590 non-null  int64
 9   room_category      134590 non-null  object
 10  booking_platform   134590 non-null  object
 11  ratings_given      56683 non-null   float64
 12  booking_status     134590 non-null  object
 13  revenue_generated  134590 non-null  int64
 14  revenue_realized   134590 non-null  int64
dtypes: float64(1), int64(4), object(10)
memory usage: 16.4+ MB

In [55]:
df_2_5.head()

,property_id,property_name,category,city,booking_id,booking_date,check_in_date,checkout_date,no_guests,room_category,booking_platform,ratings_given,booking_status,revenue_generated,revenue_realized
0,16558,Atliq Grands,Luxury,Delhi,May012216558RT11,2022-04-27,2022-05-01,2022-05-02,3,RT1,direct online,1.0,Checked Out,10010,10010
1,16558,Atliq Grands,Luxury,Delhi,May012216558RT12,2022-04-30,2022-05-01,2022-05-02,2,RT1,others,NaN,Cancelled,9100,3640
2,16558,Atliq Grands,Luxury,Delhi,May012216558RT13,2022-04-28,2022-05-01,2022-05-04,2,RT1,logtrip,5.0,Checked Out,9100,9100
3,16558,Atliq Grands,Luxury,Delhi,May012216558RT14,2022-04-28,2022-05-01,2022-05-02,2,RT1,others,NaN,Cancelled,9100,3640
4,16558,Atliq Grands,Luxury,Delhi,May012216558RT15,2022-04-27,2022-05-01,2022-05-02,4,RT1,direct online,5.0,Checked Out,10920,10920

### Total sum of Revenue_Realized

In [56]:
df_2_5['revenue_realized'].sum()

1708771229

### Total sum of Revenue_Realized from each room_category

In [57]:
df_2_5.groupby(['room_category','category'])['revenue_realized'].sum().unstack()

category        Business     Luxury
room_category
RT1            116611001  192969894
RT2            214553502  345717702
RT3            158360568  303805776
RT4            166494226  210258560

## Count Of booking Id in Fact_bookings?

In [60]:
df5['booking_id'].nunique()

134590

## Average Of Rating given

In [64]:
df_2_5['ratings_given'].mean()

3.619003934160154

## Sum of capacity

In [69]:
total_capacity = df4['capacity'].sum()

## Sum of successful_bookings from fact_bookings

In [70]:
Total_successful_bking = df4['successful_bookings'].sum()

In [95]:
Total_successful_bking

134590

## Ratio of Total Successful Bookings to Total Capacity

In [75]:
Occupancy_ratio = Total_successful_bking / total_capacity

In [76]:
Occupancy_ratio

0.5786925564116676

## Count of booking_id in which booking_status = "Cancelled"

In [91]:
df_2_5.groupby('booking_status')['booking_id'].count().reset_index()

  booking_status  booking_id
0      Cancelled       33420
1    Checked Out       94411
2        No Show        6759

In [92]:
no_cancelled = df_2_5.groupby('booking_status')['booking_id'].count().reset_index().iloc[:-2,1:]

## Ratio of 'Total Cancelled Bookings' to 'Total Bookings'

In [96]:
cancelleation_rate = no_cancelled/ Total_successful_bking *100

In [97]:
cancelleation_rate

   booking_id
0   24.830968